<nav>
    <div class="container d-flex align-items-center justify-content-between">
        <a class="fs-3" href="/">
            Autopote
            <!-- <img src="/images/image.png" class="img-fluid logo_menu"> -->
        </a>
        <ul class="list-unstyled navbar">
            <li>
                <a href="/">Autopote : la casse qui dépote !</a>
            </li>
            <li class="mx-2">
                <a class="btn btn-light text-black mx-2" href="/categorie-form">Créer une catégorie</a>
            </li>
            <li class="mx-2">
                <a class="btn btn-light text-black mx-2" href="/brand-form">Créer une marque</a>
            </li>
            <li class="mx-2">
                <a class="btn btn-light text-black mx-2" href="/part-form">Créer une pièce</a>
            </li>
            <li class="mx-2">
                <a class="btn btn-light text-black mx-2" href="/dashboard">Dashboard</a>
            </li>
        </ul>
    </div>
</nav>